@use './styles/variables' as *;
@use './styles/global';
@use './styles/Header';
@use './styles/Nav';
@use './styles/Hero';
@use './styles/Specials';
@use './styles/Testimonials';
@use './styles/About';
@use './styles/Footer';
@use './styles/BookingForm';

// App-level styles
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $offwhite;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3vw;
}

main {
  flex: 1 0 auto;
  min-height: 60vh;
}

